---
layout: page
main-title: HTML sitemap
sub-title: Yes
description: "Location of all git repositories"
keywords: "Development, Sush, git, gitlab, knowbl, bitbucket, github, contribution, graph"
---


<h4>Pages</h4>

{% for page in site.pages %}
<url>
	<loc>{{ site.url }}{{ page.url }}</loc>
	<lastmod>{{ page.sitemap.lastmod | date_to_xmlschema }}</lastmod>
	<changefreq>{{ page.sitemap.changefreq }}</changefreq>
	<priority>{{ page.sitemap.priority }}</priority>
</url>
{% endfor %}
</urlset>

<h4>Posts</h4>

{% for post in site.posts %}
<p><a href="{{ site.url }}{{ post.url }}">{{ site.url }}{{ post.url }}</a></p>
{% endfor %}
