---
layout: page
---

{% for post in site.posts %}
- {{ site.url }}{{ post.url }}{% if post.lastmod == null %} {{ post.date | date_to_xmlschema }}{% else %}{{ post.lastmod | date_to_xmlschema }}{% endif %}
{% endfor %}

{% for page in site.pages %}
{% if page.sitemap != null and page.sitemap != empty %}
<url>
	<loc>{{ site.url }}{{ page.url }}</loc>
	<lastmod>{{ page.sitemap.lastmod | date_to_xmlschema }}</lastmod>
	<changefreq>{{ page.sitemap.changefreq }}</changefreq>
	<priority>{{ page.sitemap.priority }}</priority>
</url>
{% endif %}
{% endfor %}
</urlset>
