---
layout: page
main-title: HTML sitemap
sub-title: Yes
description: "Location of all git repositories"
keywords: "Development, Sush, git, gitlab, knowbl, bitbucket, github, contribution, graph"
---

{% assign pages_counter = 0 %}{% for page in site.pages %}{% assign pages_counter=pages_counter | plus:1 %}{% endfor %}
{% assign posts_counter = 0 %}{% for post in site.posts %}{% assign posts_counter=posts_counter | plus:1 %}{% endfor %}

<h4>Pages</h4>

{% for page in site.pages %}
<p>
<a href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a> {{ page.sitemap.lastmod | date_to_xmlschema }}
</p>
{% endfor %}
</urlset>

<h4>Posts</h4>

{% for post in site.posts %}
<p><a href="{{ site.url }}{{ post.url }}">{{ site.url }}{{ post.url }}</a></p>
{% endfor %}
