{% assign firstdate = site.data.git.contributions | first %}
{% assign firstday = firstdate.date | date: "%a" %}
{% assign blocknull = "<div class='block-git'></div>" %}

<div class="flex contribution-months">
	<span>Jul</span><span>Aug</span><span>Sep</span><span>Oct</span><span>Nov</span><span>Dec</span><span>Jan</span><span>Feb</span><span>Mar</span><span>Apr</span><span>May</span><span>Jun</span><span>Jul</span>
</div>
<div class="flex contributions-box">
<div class="contribution-days"><span></span><span>Mon</span><span></span><span>Wed</span><span></span><span>Fri</span><span></span></div>

{% if firstday == "Mon" %}{{ blocknull }}
{% elsif firstday == "Tue" %}{{ blocknull }}{{ blocknull }}
{% elsif firstday == "Wed" %}{{ blocknull }}{{ blocknull }}{{ blocknull }}
{% elsif firstday == "Thu" %}{{ blocknull }}{{ blocknull }}{{ blocknull }}{{ blocknull }}
{% elsif firstday == "Fri" %}{{ blocknull }}{{ blocknull }}{{ blocknull }}{{ blocknull }}{{ blocknull }}
{% elsif firstday == "Sat" %}{{ blocknull }}{{ blocknull }}{{ blocknull }}{{ blocknull }}{{ blocknull }}{{ blocknull }}
{% elsif firstday == "Sun" %}{{ blocknull }}{{ blocknull }}{{ blocknull }}{{ blocknull }}{{ blocknull }}{{ blocknull }}{{ blocknull }}
{% else %}
{% endif %}

{% for contrib in site.data.git.contributions %}
	<div class="block-git {{ contrib.rank }}" title="{{ contrib.actions }} contributions on {{ contrib.date }}"></div>
{% endfor %}
</div>

<small>Summary of issues, requests, push events, and comments. Updated daily.</small>
<div class="block-git git0" title="0 events"></div>
<div class="block-git git1" title="1 event"></div>
<div class="block-git git2" title="2-9 events"></div>
<div class="block-git git3" title="10-19 events"></div>
<div class="block-git git4" title="20-30+ events"></div>

