<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <style>{%include css/core.css %}</style>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include canonical.html %}
  <link href="data:image/gif;base64,R0lGODdhFAAUAPAAAG9VmwAAACwAAAAAFAAUAEACEYSPqcvtD6OctNqLs968+68VADs=" rel="icon" type="image/x-icon" />
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <!--[if gt IE 8]><link href="{{ root_url }}/favicon.png" rel="icon><![endif]-->
  <link href="/feed.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">
</head>
