<nav>
	<a href="/">Home</a>
	<a href="/about/">About</a>
	<a href="/contact/">Contact</a>
	<a href="/portfolio/">Portfolio</a>
	<a href="/log/">Log</a>
	<div style="float:right;height:15px">
		<a href="{{ site.subscribe_rss }}" title="RSS feed">{% include assets/rss.svg %}</a>
		<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter">{% include assets/twitter.svg %}</a>
		<a href="https://www.linkedin.com/in/{{ site.linkedin }}/" target="_blank" title="LinkedIn">{% include assets/linkedin.svg %}</a>
		<a href="https://git.knowbl.co/" target="_blank" title="Git">{% include assets/github.svg %}</a>
	</div>
</nav>