---
layout: default
single: true
---

{% if index %}
  <div class="entry-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
  {% endif %}
{% else %}
<div class="entry-content">{{ content }}</div>
{% endif %}
{% unless page.no_header %}
    {% unless page.meta == false %}
      <div class="meta">
        {% include post/date.html %}{{ time }}
      </div>
    {% endunless %}
{% endunless %}
